<ion-content fullscreen class="home-bg">


  <ion-list [inset]="true" lines="full" class="menu-list">

   <ion-item button class="menu-item">
  <ion-label>Магазин</ion-label>

  <ion-button class="info-btn" fill="outline" aria-label="Інформація">i</ion-button>
  </ion-item>

    <ion-item button>Кафе</ion-item>
    <ion-item button>Заправка</ion-item>
    <ion-item button>Фітнес клуб</ion-item>
  </ion-list>


  <ion-button class="add-card-btn" shape="round" id="open-modal-add">Додати карту</ion-button>


 <ion-modal 
 trigger="open-modal-add" 
 [initialBreakpoint]="0.85" 
 [breakpoints]="[0, 0.85]"
 class="add-card-modal">
  <ng-template>
    
       <ion-content class="ion-padding add-card-content">
      
        <ion-button class="action-btn" fill="outline">
          Вибрати з галереї
        </ion-button>

  <ion-button class="action-btn" fill="outline" (click)="goToCell()">
    Сфотографувати
  </ion-button>

</ion-content>

    </ng-template>
  </ion-modal>







</ion-content>
